.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: 700; 
}

.landing__wrapper {
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto 6em auto;
  display: flex;
  align-items: center;
}

.landing__wrapper p {
  margin: 10px 0 30px 0;
}

.landing__wrapper div {
  text-align: center;
  width: 80%;
  color: white;
}

.player-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.stat {
  background-color: #101010;
  padding: 1em 3em;
}

.typewriter {
  max-width: 600px;
  width: 100%;
  margin: 80px auto 40px auto;
}

.typewriter h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1s steps(30, end),
    blink-caret 1.5s step-end infinite;
}

.collapse {
  margin-bottom: 18px;
}

.FAQ-Section {
  margin: 3em 0;
}

.introduction-section {
  background-color: #101010;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
  padding: 80px;
  margin-bottom: 36px;
}

.introduction-section h1 {
  text-align: center;
}
.introduction-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introduction-wrapper iframe {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

.introduction-wrapper .img-class {
  width: 50%;
}

.chat {
  margin-top: 60px;
}

.introduction-text {
  width: 40%;
  font-size: 1.25em;
  line-height: 2.25rem;
  font-weight: 500;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}