<div class="find-api-keys-section">
    <h1>How to connect your <b>Byb<b class="text-primary">i</b>t</b> account.</h1>

    <div class="mockup-browser border bg-base-300">
        <div class="mockup-browser-toolbar">
          <div class="input">https://crpytoninjas.eu</div>
        </div>
        <div class="mockup-content flex flex-col justify-center px-4 py-8 bg-base-200">
            <h2 class="text-error">
                Disclaimer!
            </h2>

            <p>Please read our 
            <span class="tos text-primary" (click)="this.router.navigate(['terms-of-service'])">
                Terms of Service
            </span>
             before proceeding with participating in our tournaments.</p>

            <p>Important: Please provide only read-only keys to your account and make sure you provide APIs for account/subaccount that you've dedicated only for our platform.</p>

        </div>
      </div>

    <div class="steps-wrapper flex">
        <ul class="steps steps-vertical">
          <li class="step step-primary">
            <span>
                If you don't have an account registered in Bybit. Do it <a class="link link-primary" href="https://partner.bybit.com/b/cyberninjas" target="_blank">here.</a>
            </span>
          </li>

          <li class="step step-primary">
            <span>
                Once you are registered you must upgrade to a UTA Account. <a class="link link-primary" href="https://www.bybit.com/en/promo/events/unified-trading-account" target="_blank">Here's how.</a>
            </span>
          </li>

          <li class="step step-primary">
            <span>
                Create a subaccount with wich you can manage multiple porfolios so you<br> can use the one you want for our platform only. <a class="link link-primary" href="https://www.bybit.com/en/help-center/article/How-to-Get-Started-With-Standard-Subaccount-Desktop#a" target="_blank">Step by step guide.</a>
            </span>
          </li>
          <li class="step step-primary">
            <span>
                If you've completed all the steps above. Congrats!<br> Just one step until your Bybit account is ready. Check out how you can create your 
                <a class="link link-primary" href="https://www.bybit.com/en/help-center/article/How-to-create-your-API-key" target="_blank">API keys.</a>
            </span>

          </li>
          <li class="step step-primary">
            <span>
                <span class="mb-24">These are the key settings your API should have.</span>
                <div class="mockup-code">
                    <pre data-prefix="1"><code>System-generated API Keys</code></pre> 
                    <pre data-prefix="2"><code>Key usage -> API Transaction</code></pre> 
                    <pre data-prefix="3" class="bg-warning text-warning-content"><code>Important! Permission -> Read-only & No IP restricion.</code></pre>
                    <pre data-prefix="4"><code>Both Unified Trading & Assets checked</code></pre>
                  </div>
            </span>
          </li>
          <li data-content="✓" class="step step-primary">
            <span>Everything is ready! 🥳 Now you can use your Public & Secret key to connect.
            </span>
            </li>
        </ul>
      </div>

</div>